<div>
    <h2>User Addresses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="user-address.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new User Address
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="attentionTo"><span>Attention To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressLine1"><span>Address Line 1</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="addressLine2"><span>Address Line 2</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="landmark"><span>Landmark</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span>Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postalCode"><span>Postal Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="stateId"><span>State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span>User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="userAddress in vm.userAddresses track by userAddress.id">
                    <td><a ui-sref="user-address-detail({id:userAddress.id})">{{userAddress.id}}</a></td>
                    <td>{{userAddress.attentionTo}}</td>
                    <td>{{userAddress.addressLine1}}</td>
                    <td>{{userAddress.addressLine2}}</td>
                    <td>{{userAddress.landmark}}</td>
                    <td>{{userAddress.street}}</td>
                    <td>{{userAddress.postalCode}}</td>
                    <td>
                        <a ui-sref="state-detail({id:userAddress.stateId})">{{userAddress.stateId}}</a>
                    </td>
                    <td>
                        {{userAddress.userId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="user-address-detail({id:userAddress.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-address.edit({id:userAddress.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="user-address.delete({id:userAddress.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
