
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShipmentItemLabel">Create or edit a Shipment Item</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shipmentItem.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shipmentItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.shipmentItem.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.shipmentItem.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_longDescription">Long Description</label>
            <input type="text" class="form-control" name="longDescription" id="field_longDescription"
                    ng-model="vm.shipmentItem.longDescription"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                    ng-model="vm.shipmentItem.price"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_freeStorageEndingDate">Free Storage Ending Date</label>
                <div class="input-group">
                    <input id="field_freeStorageEndingDate" type="text" class="form-control" name="freeStorageEndingDate" datetime-picker="{{dateformat}}" ng-model="vm.shipmentItem.freeStorageEndingDate" is-open="vm.datePickerOpenStatus.freeStorageEndingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('freeStorageEndingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdOn">Created On</label>
                <div class="input-group">
                    <input id="field_createdOn" type="text" class="form-control" name="createdOn" datetime-picker="{{dateformat}}" ng-model="vm.shipmentItem.createdOn" is-open="vm.datePickerOpenStatus.createdOn"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdOn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.shipmentItem.status" id="field_status">
                <option value="ITEM_RECEIVED">ITEM_RECEIVED</option>
                <option value="PACKED">PACKED</option>
                <option value="SHIPPED">SHIPPED</option>
                <option value="RETURNED">RETURNED</option>
                <option value="DAMAGED">DAMAGED</option>
                <option value="REJECTED">REJECTED</option>
                <option value="RETURNED_BY_CUSTOMER">RETURNED_BY_CUSTOMER</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_itemProperties">Item Properties</label>
            <select class="form-control" id="field_itemProperties" name="itemProperties" ng-model="vm.shipmentItem.itemPropertiesId" ng-options="shipmentItemProperties.id as shipmentItemProperties.id for shipmentItemProperties in vm.itemproperties | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_createdBy">Created By</label>
            <select class="form-control" id="field_createdBy" name="createdBy" ng-model="vm.shipmentItem.createdById" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.shipmentItem.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.shipmentItem.categoryId" ng-options="shipmentItemCategory.id as shipmentItemCategory.id for shipmentItemCategory in vm.shipmentitemcategories"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_order">Order</label>
            <select class="form-control" id="field_order" name="order" ng-model="vm.shipmentItem.orderId" ng-options="shipmentOrder.id as shipmentOrder.id for shipmentOrder in vm.shipmentorders"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
